<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI DJ Beta</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div>
        <h1>AI DJ Beta</h1>
        <p>Welcome, <span id="userDisplayName"></span></p>
        <div id="content"></div>
        <div id="mainContentTemplate">
            <button id="setDevice" title="Select a Spotify device by clicking on a list item">Show Devices</button>
            <ul id="devicesList"></ul><br>
        
            <button 
                id="roadTrip" 
                title="AI will curate a road trip playlist of local bands and narrate cool facts along the way. Spotify must be open and active (click play on any song)">
                Road Trip DJ
            </button><br><br>
        
            <button 
                id="announceTracks" 
                title="Announce the next track and fun facts between your chosen songs. You must play the songs or playlist from Spotify">
                Announce Tracks
            </button><br>

            <button 
                id="testButton" 
                title="testing current development">
                Test Button
            </button><br>

            <ul id="logList"></ul><br>
        
            <script src="https://sdk.scdn.co/spotify-player.js"></script>
        </div>
        
        <script src="/utils.js"></script>
        <script src="/aiDj.js"></script>
    </div>
</body>
</html>