<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI DJ Beta</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div>
        <h1>AI DJ Beta</h1>
        <p>Welcome, <span id="userDisplayName"></span></p>
        <div id="content"></div>
        <div id="mainContentTemplate">
            <button id="setDevice">Set Device</button>
            <ul id="devicesList"></ul><br>
            <button id="playButton">AI DJ Beta</button><br>
            <script src="https://sdk.scdn.co/spotify-player.js"></script>
        </div>
        <script src="/utils.js"></script>
        <script src="/aiDj.js"></script>
    </div>
</body>
</html>