<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Spotify Tools</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div>
    <h1>Welcome to Spotify Tools</h1>
    <p>Hello, <span id="userDisplayName">${user_name}</span></p>
    <button id="autoPlaylist">Auto Playlist</button>
    <button id="aiDj">AI DJ</button>
    <button id="atlantaShows">Atlanta Shows</button>
    <script src="/utils.js"></script>
    <script src="/dashboard.js"></script>
  </div>
</body>
</html>
